body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.job-frame {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #337ab7;
    padding: 10px;
    width: 267px;
    height: 76px;
}

.job-description{
    width:200px;
    font-size:12px;
}

.job-btn-edit {
    display: inline-block;
    vertical-align: bottom;
    float: right;
    margin: 0px;
    padding: 0px 2px;
    border-radius: 8px;
}

.job-btn-delete {
    float: right;
    margin: 0px;
    padding: 0px 2px;
    border-radius: 8px;
}

.job-dropdown-button {
    padding: 2px 4px;
}

.job-dropdown {
    display: inline-block;
    width: 200px;
}

.job-btn-create {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #337ab7;
    width: 267px;
    height: 76px;
}

.android-frame {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #337ab7;
    padding: 10px;
    width: 267px;
    height: 118px;
}

.android-btn-create {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #337ab7;
    width: 267px;
    height: 118px;
}

.should-reclaimed {
    border: 2px solid #808080;
}

.skill-btn-add {
    float: right;
    margin: 0px;
    padding: 6px 8px;
    border-radius: 8px;
    width:40px;
}

.skill-panel {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #337ab7;
}

.skill-frame {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
    border-radius: 10px;
    border: 1px solid #337ab7;
    padding: 4px;
    width: 100%;
    height: 118px;
}
